/* 1.0 HEADER
2.0 CAROUSEL 
3.0 ABOUT SECTION*/
html,
body {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box !important;
}
/* 1.HEADER */
#navbarAcron .nav-item .nav-link {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
}
#navbarAcron form button {
    background: #0f02df;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    transition: 0.3s;
}
#navbarAcron form button:hover {
    background: #0652ff;
    border-radius: 3px;
}
/* 2.0 CAROUSEL */
#carousel-bg-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
#carousel .container-fluid .row > * {
    padding-left: 0px !important;
    padding-right: 0px;
}
#carouselbg {
    width: 400px;
    height: 100vh;
    border-radius: 0px 0px 50px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    background: linear-gradient(90deg, #07d6df 0%, #1002de 100%);
}
#carousel-bg-wrap #help {
    /* height: 35px;
    width: 150px; */
    border-radius: 20px 0px 0px 20px;
    background-color: #0652ff;
}
#carousel-bg-wrap .modal-content {
    background-color: #3a3776;
}
#carousel-bg-wrap .modal-content .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel-bg-wrap .modal-content .modal-body form {
    width: 90%;
}
#form .input-group {
    margin-bottom: 30px;
    position: relative;
}
#form .input-group input,
#form .input-group textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
#form .input-group label {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
#form button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
#form .input-group input:focus ~ label,
#form .input-group input:valid ~ label,
#form .input-group textarea:focus ~ label,
#form .input-group textarea:valid ~ label {
    top: -35px;
    font-size: 14px;
}
#form-group-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form-group-row .input-group {
    flex-basis: 48%;
}
#carousel-bg-wrap .modal-content .modal-header,
#carousel-bg-wrap .modal-content .modal-footer {
    border: none;
}
#carousel-bg-wrap .modal-content .modal-header h5 {
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 0.01em;

    color: #f8f8f8;
}
#carouselExampleControls {
    position: absolute;
    top: 130px;
    left: 50px;
    /* position: relative;
    top: -600px; */
    /* left: 50px; */
}
#carouselExampleControls .carousel-item .carouse-content {
    position: absolute;
    top: 100px;
    left: 100px;
    /* width: 507px; */
    width: 430px;
    padding: 20px;
    height: 371px;
    background: #fbfbfb;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#carouselExampleControls .carousel-item .carouse-content h1 {
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
}
#carouselExampleControls .carousel-item .carouse-content p {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
    width: 80%;
}
#carouselExampleControls .carousel-item .carouse-content a {
    padding: 11px 32px;
    width: 163px;
    height: 39px;
    background: #0f02df;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #ffffff;
}
.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    color: #0652ff !important;
    background-color: rebeccapurple;
}
#carouselExampleControls .carousel-item img {
    margin-left: 15vw;
    margin-top: 0vw;
}

/* ABOUT SECTION STARTS */
#about-container {
    margin-top: 50px;
}
#about-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-content h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
}
#about-content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    letter-spacing: 0.03em;
    color: #2e2e2e;
}
#about-content a {
    background: #0f02df;
    border-radius: 3px;
    padding: 5px 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: #ffffff;
    transition: 0.3s;
}
#about-content a:hover {
    background: #1102dfde;
    transform: scale(1.02);
}

#about-us-r2 {
    margin-top: 20px;
}
/* #about-us-r2 .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */
#pri-organizatio,
#clinical-research,
#pri-smo,
#clinical-cro {
    width: 260px;
    height: 142px;
    background: #0f02df;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
#clinical-research,
#clinical-cro {
    background: #07d6df;
    margin-top: 50px;
}
#pri-organizatio h2,
#clinical-research h2,
#pri-smo h2,
#clinical-cro h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #ffffff;
}
#aur2-c3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
#our-services {
    /* width: 604px; */
    /* height: 233px;    */
    border: 2px solid transparent;
    border-image: linear-gradient(to top right, #07d6df, #0f02df);
    border-image-slice: 8;
    border-radius: 1px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#link1 {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    margin-left: -15px;
    border-top: 1px solid #c3bff7;
    border-right: 1px solid #c3bff7;
}
#link2 {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    margin-right: -15px;
    border-top: 1px solid #c3bff7;
    border-left: 1px solid #c3bff7;
}
#link3 {
    display: inline-block;
    width: 30%;
    margin-top: 10px;
    margin-left: -15px;
    border-bottom: 1px solid #c3bff7;
    border-right: 1px solid #c3bff7;
}
#link4 {
    display: inline-block;
    width: 30%;
    margin-top: 10px;
    margin-right: -15px;
    border-bottom: 1px solid #c3bff7;
    border-left: 1px solid #c3bff7;
}
#joins {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#link1 i,
#link2 i,
#link3 i,
#link4 i {
    visibility: hidden;
}
#our-services h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0f02df;
}
#our-services .smo {
    color: #07d6df;
}
#our-services h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #2e2e2e;
}
@media screen and (max-width: 992px) {
    #joins {
        display: none;
    }
    #about-us-r2 h2 {
        font-size: 13px;
    }
    #pri-organizatio,
    #clinical-research,
    #pri-smo,
    #clinical-cro {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 769px) {
    #about-us-r2 .col-md-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* ABOUT SECTION ENDS */

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.testimonial .testimonials-carousel {
    width: 100%; 
}

.testimonial .testimonials-carousel .testimonial-item {
    width: 260px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #07d6df;
    background-image: url(../assets/images/about/img1.svg);
    background-repeat: no-repeat;
    background-position: 25% 40%;
}
.testimonials-carousel  .testimonial-item:nth-child(2){
    background-image: url(../assets/images/about/img2.png) !important;
    background-repeat: no-repeat;
}
.testimonials-carousel .testimonial-item:nth-child(3){
    background-image: url(../assets/images/about/img3.svg) !important;
    background-repeat: no-repeat;
}
.testimonials-carousel  .testimonial-item:nth-child(2){
    background-image: url(../assets/images/about/img4.svg) !important;
    background-repeat: no-repeat;
}

.testimonial .testimonial-item p {
    margin-bottom: 15px;
    position: absolute;
    top: 110px;
    padding: 0px 40px 0px 20px;
    color: #fff;
    display: none;
    transition: 0.3s;
}

.testimonial .testimonial-item h2 {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 70%;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    transition: 0.3s;
    color: #fff;
}
.testimonial .testimonial-item:hover {
    background-image: none;
}
.testimonial .testimonial-item:hover h2 {
    top: 20px;
}

.testimonial .testimonial-item:hover p {
    display: block;
}

.testimonial .owl-nav {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -200px;
    right: -20px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0652ff;
    /* font-size: 25px; */
    transition: 0.3s;
}
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -200px;
    left: -40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0652ff;
    /* font-size: 25px; */
    transition: 0.3s;
}

.testimonial .owl-nav .owl-prev {
    padding-right: 80px;
}

.testimonial .owl-nav .owl-next {
    padding-left: 80px;
}


@media screen and (max-width: 769px) {
    .testimonial .testimonial-item {
        width: 100% !important;
    }
    .testimonial .testimonial-item h2 {
        top: 258px;
    }
    .testimonial .testimonial-item:hover h2 {
        top: 97px;
    }
    .testimonial .testimonial-item:hover p {
        font-size: 12px;
        top: 194px;
    }
}
@media screen and (max-width: 400px) {
    .testimonial .owl-nav .owl-next {
        display: none;
    }
}
@media screen and (max-width: 356px) {
    .testimonial .testimonial-item h2 {
        top: 225px;
    }
}
.section-header h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    color: #2e2e2e;
}

/* FOOTER SECTION */
#footer-container {
    box-sizing: border-box !important;
    background-color: #0c093b;
    padding: 30px 0px 0px 0px;
}
#contact {
    background-image: url("../assets/images/footer/f-1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;

    color: #ffffff;
}
#contact a {
    background: #0f02df;
    border-radius: 3px;
    font-weight: 700;
    padding: 11px 32px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 10px;
    color: #ffffff;
    transition: 0.3s;
}
#contact a:hover {
    background-color: #1102dfd8;
    transform: scale(1.03);
}
#sm-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: o 49px; */
}
#sm-content h1,
#contact-f h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.01em;

    color: #ffffff;
}
#sm-content i,
#contact-f i,
#contact-f p {
    margin-bottom: 20px;
    color: #fff;
    word-break: break-word;
}
#sm-content i,
#contact-f i {
    font-size: 25px;
}

#sm-content .fa-linkedin {
    color: #0077b5;
}
#sm-content .fa-twitter-square {
    color: #1da1f2;
}
#sm-content .fa-facebook-square {
    color: #0a86ef;
}
#copy-right-content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #ffffff;
}
#copy-right-content p a {
    color: #0077b5;
    text-decoration: none;
    transition: 0.3s;
}
#copy-right-content p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .center-map {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
}
/*+================================
 ABOUT PAGE CSS 
 +================================*/
#hereo-img-container {
    background: url("../assets/images/about/h-img.png");
    /* background-size: 100%; */
    background-size: cover;
    /* background-image: url("../assets/images/about/h-img.png"); */
    width: 100%;
    height: 64vh;

    background-repeat: no-repeat;
    /* background-origin: border-box; */
    background-position-x: center;
}
#ab-c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
#h-img-content h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
}
#h-img-content p {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}
#ab-content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2e2e2e;
}
#acron-container {
    background-color: #b1f2f5;
    padding: 20px 0px;
    text-align: center;
}
#ac-para {
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
}
#goal-container {
    padding: 20px 0px;
}
#ab-r4-c2 h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #000000;
}
#ab-r4-c2 p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    /* or 21px */
    text-align: justify;
    letter-spacing: 0.03em;
    /* Tertiary */

    color: #2e2e2e;
}

/*+================================
 ABOUT PAGE CSS ENDS
 +================================*/

/*+================================
 PATIENTS PAGE CSS 
 +================================*/
#h-img-patients,
#h-img-physicians,
#h-img-sponsors,
#h-img-contactus {
    background-image: url("../assets/images/patients/h-img.png");
    /* width: 100%;
    height: 60vh;
    background-size: cover/center;
    background-repeat: no-repeat; */

    /* new */
    /* background-size: 100%; */
    background-size: cover;
    /* background-image: url("../assets/images/about/h-img.png"); */
    width: 100%;
    height: 64vh;

    background-repeat: no-repeat;
    /* background-origin: border-box; */
    background-position-x: center;
}
#pat-r1-c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 60vh;
}
#patients-content h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}
#patients-content p {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}
#for-pat-container {
    padding: 15px 0px 20px 0px;
}
#for-patients h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #2e2e2e;
    margin-bottom: 15px;
}
#for-patients p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #2e2e2e;
}

#contact-form-patients {
    background-color: #b1f2f5;
    padding: 30px 0px 50px 0px;
}
#form-contact {
    width: 80%;
    margin: auto;
}
#cfp-r1-c1 h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2e2e2e;
}
#form-contact .col-md-4,
#form-contact .col-md-6,
#form-contact .col-md-12 {
    position: relative;
}
#form-contact .names label {
    position: absolute;
    top: 5px;
    left: 20px;
}
#form-contact .names input:focus ~ label,
#form-contact .names input:valid ~ label {
    display: none;
}

/*+================================
 PATIENTS PAGE CSS ENDS
 +================================*/

/*+================================
 PHYSICIANS PAGE CSS 
 +================================*/
#h-img-physicians {
    background-image: url(../assets/images/physicians/h-img.png);

    /* background-image: url("../assets/images/physicians/h-img.png"); */
}
/*+================================
 PHYSICIANS PAGE CSS ENDS
 +================================*/

/*+================================
 SPONSERS PAGE CSS 
 +================================*/
#h-img-sponsors {
    background-image: url("../assets/images/sponsers/h-img.png");
}
/*+================================
 SPONSERS PAGE CSS ENDS
 +================================*/

/*+================================
 CONTACT US PAGE CSS 
 +================================*/
#h-img-contactus {
    background-image: url("../assets/images/contactus/h-img.png");
}
#cont-us form .names input,
#cont-us form .col-12 textarea {
    background-color: #ecf7f9;
    /* box-shadow: inset 1px 1px 1px 1px #0652ff, -1px -1px 1px 1px #0652ff; */
}
/*+================================
 CONTACT US PAGE CSS ENDS
 +================================*/

/* +================================
 BIO BANKING PAGE CSS STARTS */

/* hero img section */
#h-img-bb {
    background-image: url("../assets/images/bioBanking/h-img-bb.png");
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 64vh;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 50px;
}

#bb-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64vh;
}
#bb-content h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

#bb-content h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}
/* bb About section  */
#bb-about-container {
    margin-top: 50px;
    margin-bottom: 50px;
}
#bb-about-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bb-about-para p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #1c1c1c;
    width: 90%;
}

/* samples section  */
#bb-samples-container {
    background-color: #b1f2f5;
    padding: 20px 0px;
}
#bb-samples-col1 h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #1c1c1c;
    text-align: center;
}
#bb-sample-r {
    padding: 30px 0px;
}
#bb-sample-r .col-md-12 h2 {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    text-align: center;
    margin: auto;
    letter-spacing: 0.03em;
    color: #1c1c1c;
    width: 80%;
}
#bb-shipping-h {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1c1c1c;
}
#bb-sbs-container {
    background-color: #b1f2f5;
    padding: 20px 0px;
}
#bb-ssbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 15px; */
    width: 90%;
    margin: auto;
}
#bb-ssbs p {
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
    letter-spacing: 0.03em;
    color: #1c1c1c;
    margin: auto;
    width: 85%;
}

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width: 1024px) {
    #navbarAcron .nav-item .nav-link {
        font-size: 7px;
        font-weight: 700;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    #h-img-bb {
        margin-top: 10px;
    }
}

@media (min-width: 0px) and (max-width: 425px) {
    #h-img-bb {
        margin-top: 10px;
    }
    #bb-ssbs {
        margin-bottom: 20px;
    }
}
/* BIO BANKING PAGE CSS ENDS
 +================================ */
